.container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    backdrop-filter: blur(2px);

    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        position:relative;
        top: -70px;

        height: 300px;
        width: 500px;
        
        background-color: var(--white);
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32); 
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);

        p{
            font-size: 18px;
            font-weight: bold;
            margin: 16px 0 0 16px;
        }

        .inputContainer{

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            width: 100%;
            height: 50%;

            input{
                width: 91%;

                background-color: var(--off-white);
                border: none;
                outline: none;
                padding: 10px;
                border-bottom: solid 2px var(--white);
                transition: all .2s ease-in-out;
                margin: 0 0 10px 12px;

                &:focus{
                    border-bottom: solid 2px var(--black);
                }
            }
        }

        .buttonContainer{
            display: flex;
            justify-content: flex-end;

            width: 100%;

                button{
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px 12px;
                background-color: var(--black);
                color: var(--white);
                outline: none;
                border: none;
                border-radius: 6px;
                margin: 0 4px 14px 0;

                &:last-child{
                    margin-right: 12px;
                }

                &:first-child{
                    background-color: var(--white);
                    border: solid 2px var(--black);
                    color: var(--black)
                }

                &:hover{
                    cursor: pointer;
                }
                
                img{
                    height: 16px;
                    margin-right: 6px;
                }
            }
        }

    }
}