.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;

    background-color: var(--white);
    margin: 50px auto;
    padding: 16px;

    .searchContainer{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        input{
            width: 20%;

            background-color: var(--off-white);
            border: none;
            outline: none;
            padding: 10px;
            border-bottom: solid 2px var(--white);
            transition: all .2s ease-in-out;

            &:focus{
                border-bottom: solid 2px var(--black);
            }

            &:last-child{
                width: 80%;
                margin-left: 8px;
            }
        }
    }

    .actionContainer{
        display: flex;
        justify-content: end;
        align-items: center;

        width: 100%;

        margin: 16px 0;

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 12px 14px;
            background-color: var(--black);
            color: var(--white);
            outline: none;
            border: none;
            border-radius: 6px;
            margin-right: 4px;

            &:hover{
                cursor: pointer;
            }
            
            img{
                height: 16px;
                margin-right: 6px;
            }
        }
    }

    .sectionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: fit-content;
        width: 100%;

        background-color: var(--black);
        border-right: solid 1px var(--black);
        border-left: solid 1px var(--black);

        ul{
            display: flex;
            width: 100%;

            padding: 0;
            margin: 0;

            span{
                display: flex;
                img{
                    height: 12px;
                    width: 25px;
                }
            }

            li{
                display: flex;
                justify-content: left;

                width: 27%;

                color: var(--white);
                padding: 4px 0;
                margin-left: 5px;
                font-size: 14px;

                &:first-child{
                    width: 15%;
                }
            }
        }
    }
}