.container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    backdrop-filter: blur(2px);

    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        position:relative;
        top: -70px;

        height: 300px;
        width: 500px;
        
        background-color: var(--white);
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32); 
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);

        p{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

        .buttonContainer{
            display: flex;

            button{
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px 12px;
                background-color: var(--black);
                color: var(--white);
                border: solid 2px var(--black);
                border-radius: 6px;

                &:hover{
                    cursor: pointer;
                }

                &:last-child{
                    background-color: var(--white);
                    color: var(--black);
                    border: solid 2px var(--black);
                    margin: 0 0 0 12px;

                    img{
                        height: 16px;
                    }
                }

                img{
                    height: 10px;
                    margin: 0 8px 0 0;
                }
            }
        }

    }
}