.container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    backdrop-filter: blur(2px);

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        position:relative;
        top: -70px;

        height: 300px;
        width: 500px;
        
        background-color: var(--white);
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32); 
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);

        p{
            width: 100%;
            
            margin: 16px 0 0 32px;
            padding: 0;
            font-weight: bold;
            font-size: 18px;
        }

        .inputContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            height: 50%;
            width: 100%;

            input{
                width: 92%;
                margin: 10px 0 0 0;

                background-color: var(--off-white);
                border: none;
                outline: none;
                padding: 10px;
                border-bottom: solid 2px var(--white);
                transition: all .2s ease-in-out;

                &:focus{
                    border-bottom: solid 2px var(--black);
                }
            }
        }

        .buttonContainer{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            height: 20%;
            width: 100%;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                
                padding: 10px 12px;
                background-color: var(--black);
                color: var(--white);
                border: solid 2px var(--black);
                border-radius: 6px;
                outline: none;
                margin: 0 10px 0 12px;
                
                img{
                    height: 10px;
                    margin: 0 6px 0 0;
                }

                &:hover{
                    cursor: pointer;
                }

                &:first-child{
                    background-color: var(--white);
                    color: var(--black);
                    border: solid 2px var(--black);
                    margin: 0;

                    img{
                        height: 16px;
                    }
                }
            }
        }
    }
}