.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    width: 100%;

    background-color: var(--white);

    img{
        height: 24px;
        margin: 0 4px 0 0;
    }

    p{
        font-weight: bolder;
        font-size: 26px;
    }
}