.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        border: solid 1px var(--black);
        border-top: none;

        ul{
            display: flex;
            width: 100%;

            padding: 0;
            margin: 0;

            li{
                display: block;
                justify-content: flex-start;
                width: 27%;
                
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
            
                border-right: solid 1px var(--black);
                
                
                padding: 4px 0;
                margin: 0 1% 0 0;

                &:first-child{
                    width: 15%;
                    padding: 4px 0 4px 4px;
                }
            }

            span{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;

                img{
                    height: 13px;

                    &:hover{
                            cursor: pointer;
                        }

                    &:last-child{
                        height: 18px;
                        margin: 0 4px;

                    }
                }
            }
        }
    }
}